@import url(https://fonts.googleapis.com/css?family=Raleway);
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  font-family: 'Raleway', arial;
  color: black;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 24px;
}

.container {
  border: 4.5px solid black;
  margin: 5%;
}
.header {
  padding: 25px 0;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.main {
}
.spinner {
  display: inline-block;
}
/* Controls */
.controls {
  padding: 150px 0;
}
button {
  margin: 0 2%;
  padding: 25px;
  background: none;
  border-radius: 50%;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 9;
}
button:hover {
  border-color: #DA241E;
}
button:focus {
  outline: none;
}


footer p{
  font-size: 0.8em;
}
footer a {
  text-decoration: none;
  color: #DA241E;
}
